#some subprojects are excluded from this repository 
CompositeModels/

#temporary parts are neglected
build/
temp/

#ignorable files 
.DS_Store
.Trashes
._*
*.o
*.log
*.simlog
#*
*~
*.swp
*.tmp
*.bak

